table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgb(223, 220, 220);
}

thead {
  background-color: rgb(184, 183, 183);
}
