table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  width: 7em;
  height: 100%;
}

tr {
  height: 3em;
}

tr:nth-child(even) {
  background-color: rgb(223, 220, 220);
}

thead {
  background-color: rgb(184, 183, 183);
}

table {
  width: 100%;
}

.steps-list {
  border: 1px solid black;
  max-height: 15em;
  overflow-y: scroll;
}
